# better git clone
clone(){
    echo Cloning $1 to ~/git/$1
    cd ~/git
    git clone git@github.com:$1 $1
    cd $1
}

# create folder and go inside 
function mkd () {
  mkdir -p "$@" && cd "$@"
}

echo "functions loaded!"
