[user]

name = André Monteiro
email = amonteiro@e-goi.com

[alias]

co = checkout
ci = commit
br = branch

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
